@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
 
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 99999;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Anonymous Pro;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  body {
    background-image: url(../img/grey-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    font-family: Anonymous Pro;
    color: rgb(255, 255, 255);
  }

  @import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 5rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #000000;
  font-family: Anonymous Pro;
}
.container p span.cursor {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: rgb(255, 255, 255); }
  49% { background-color: rgb(255, 255, 255); }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: rgb(255, 255, 255); }
}

html {
    scroll-behavior: smooth;
}

#about {
    height: 100vh;
    width: 100%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding-bottom: 500px;
    padding: 40px; height: auto
}

#about h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

#about p {
    text-align: center;
    font-size: 4vh;
    color: rgb(0, 0, 0);
}

#para-3 {
    padding-bottom: 10vh;
}

#projects {
        height: 100%;
        width: 100%;
        display: inline-block;
        background-color: rgb(255, 255, 255);
        background-image: url(../img/grey-background.jpg);   
        background-size: cover;
}

#projects h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
}

* {box-sizing:border-box}

.slideshow-container {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 50%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#contact {
        height: 85vh;
        width: 100%;
        display: inline-block;
        background-color: rgb(255, 255, 255);
        display :flex;
        justify-content: center; 
        align-items: center; 
        flex-direction: column}

}

#contact h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

#contact p {
    text-align: center;
    font-size: 6vh;
    color: rgb(0, 0, 0);
    padding-top: 5px;
}


#contact i {
    padding: 25px;
}

#copyright {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 25px;
}

#copyright p {
    font-size: 5vh;
}



  













